[2022-10-05 05:52] Zack-Dx opened #1 "Responsiveness."

[2022-10-05 06:11] Amiyanshu-web opened #2 "Adding Footer section"
Footer section is not available for the page right now. I would like to work on this issue.
 Please assign this to me.

[2022-10-05 06:56] Zack-Dx commented on #2
@Amiyanshu-web sure mate.

[2022-10-05 07:49] RitikJha93 opened #3 "Adding a dark theme toggle"
We can add a dark theme mode along with the light theme to make it user ineteractive.

[2022-10-05 08:13] Zack-Dx commented on #3
@RitikJha93 sure go for it.

[2022-10-05 08:33] Geetisha17 opened #4 "Adding a section"
A section is missing for the Discord landing page.
section - The reliable tech for staying close.
I would like to work on this issue.

[2022-10-05 08:38] wasimreja opened #5 "Animate on scroll"
Use AOS Library for animations to elements as you scroll into view and improve the user experience.

[2022-10-05 08:42] Zack-Dx commented on #4
@Geetisha17 Surely.

[2022-10-05 08:43] wasimreja opened #6 "Add issue templates"
Add issue template for bug and feature requests.

[2022-10-05 09:01] #6 closed

[2022-10-05 09:03] JASKIRAT11011 commented on #1
hi @Zack-Dx i would like to contribute on the following issue , can u assign me

[2022-10-05 09:25] Zack-Dx commented on #1
@JASKIRAT11011 sure go ahead.

[2022-10-05 09:27] JASKIRAT11011 commented on #1
thnx ,

[2022-10-05 09:54] ShrutiMishra-2002 opened #7 "Add a documentation for the project"
Why documentation?
-As it is very important for any project to have it's proper documentation for the contributors to know about the project in detail.

Please assign me this issue @Zack-Dx

[2022-10-05 10:12] Zack-Dx commented on #7
@ShrutiMishra-2002 done.

[2022-10-05 10:34] #4 closed

[2022-10-05 10:58] Utsab5 commented on #1
Hi @Zack-Dx ,
I would also like to work on this,
can you also assign me to this?

[2022-10-05 11:02] Zack-Dx commented on #1
@Utsab5 sure but whoever throws a pull req at first it'll get merged.

[2022-10-05 12:06] JanhaviSoni opened #12 "Add scroll up button to Home page of Discord Clone"
#Proposed Changes: Adding a scroll up button to the right bottom of the home page

#Why is this feature important: it makes the page more user friendly and saves time of the user to scroll up manually
@Zack-Dx Please assign

[2022-10-05 12:10] ShishuSidharth commented on #2
please assign this to me

[2022-10-05 12:11] ShishuSidharth commented on #7
please assign this to me

[2022-10-05 12:16] Zack-Dx commented on #7
@ShishuSidharth done.

[2022-10-05 12:19] Zack-Dx commented on #12
@JanhaviSoni Sure. Go ahead!

[2022-10-05 12:26] Utsab5 commented on #1
okay

[2022-10-05 12:33] Priyanshup891 opened #16 "improve button shadow"
#Proposed Changes:

#Why is this feature important:

#Additional Context:

[2022-10-05 12:43] Zack-Dx commented on #16
@Priyanshup891 assigned.

[2022-10-05 13:51] rishikesh2003 opened #22 "Detect the Operating system of the user and display it in a button"
Display the user's operating system in the download button (Hacktoberfest)

[2022-10-05 13:59] Zack-Dx commented on #22
@rishikesh2003 assigned.

[2022-10-05 14:05] rishikesh2003 commented on #22
#24

[2022-10-05 14:17] #22 closed

[2022-10-05 14:17] #16 closed

[2022-10-05 14:17] #12 closed

[2022-10-05 14:17] #5 closed

[2022-10-05 14:18] #2 closed

[2022-10-05 14:39] TaufeeqRiyaz opened #27 "Not optimized for smartphones"
**Describe the bug**
Not optimized to use on smartphones

**To Reproduce**
open the website on a smartphone/inspect

https://taufeeqriyaz.github.io/Discord-Clone/

[2022-10-05 14:56] Mukul-svg opened #29 "No download Icon before the Download for Windows button"
in original discord page there is a download icon before the "Download for Windows" button

[2022-10-05 14:58] cgrkzlkn commented on #27
Hi, I can make the website mobile responsive.

@Zack-Dx please assign it to me with hacktoberfest label.

Thanks.

[2022-10-05 15:11] Zack-Dx commented on #27
For sure❤️

[2022-10-05 15:18] Zack-Dx commented on #29
@Mukul-svg u wanna add it?

[2022-10-05 15:36] Znoy108x opened #33 "Support Page"
i can complete support page for you.

[2022-10-05 15:46] Shivangbhatnagar237 commented on #29
I can add it @Zack-Dx

[2022-10-05 15:50] Zack-Dx commented on #33
@Znoy108x Sure. go ahead!

[2022-10-05 15:51] Zack-Dx commented on #29
it's there but u can fix the alignment of it else change that icon.

[2022-10-05 16:07] Shivangbhatnagar237 commented on #29
Hey @Zack-Dx , I'm modifying the website's code, but the changes aren't getting reflected on the live server that I'm using on VS Code. I don't know how this is happening, but this is obstructing my way to solving this issue.
![hack2](https://user-images.githubusercontent.com/47966497/194108086-20427902-e49e-47cd-a4a7-29b2175016dc.PNG)
![hack1](https://user-images.githubusercontent.com/47966497/19

[2022-10-05 16:07] Shivangbhatnagar237 commented on #29
and in my code, you can see "Download for Mac" is there.

[2022-10-05 16:39] Shivangbhatnagar237 commented on #29
No issues, I created a PR regarding this.

[2022-10-05 17:32] #29 closed

[2022-10-05 17:40] MaxR522 opened #35 "Fix the buttons positionment"
On a large screen, these buttons is separated and not really like in the Discord page, I will fix it and will make the PR later

![image](https://user-images.githubusercontent.com/41254151/194125925-899cac2a-26c4-426d-b8b6-73c8b490141d.png)

[2022-10-05 17:53] Znoy108x commented on #33
@Zack-Dx i have completed the support page !

[2022-10-05 18:25] ayushi-ras commented on #3
hey @Zack-Dx  I can add this please assign me

[2022-10-05 18:42] Shivangbhatnagar237 opened #38 "Fonts don't look the same as on Discord's website"
#Proposed Changes: Change the font family and use font query in CSS to make the font accessible for everyone.

#Why is this feature important: fonts play a **major role** in the UI of the website

#Additional Context: I @Shivangbhatnagar237 can fix this issue, this issue will bring other text-positioning issues under it as well
![disc1](https://user-images.githubusercontent.com/47966497/194137027-

[2022-10-05 18:43] Shivangbhatnagar237 commented on #38
@Zack-Dx please assign me this issue under hacktoberfest, I can solve it.

[2022-10-05 21:36] Samadeen commented on #1
Is it too late to join in?.. I want to work on this also

[2022-10-06 03:40] Zack-Dx commented on #38
@Shivangbhatnagar237 Sure. go ahead

[2022-10-06 03:44] #27 closed

[2022-10-06 03:58] Zack-Dx commented on #35
@MaxR522 u wanna fix?

[2022-10-06 03:59] Zack-Dx commented on #1
@Samadeen no problem! u can work too. Welcome!

[2022-10-06 04:00] Zack-Dx opened #42 "Add new pages."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-06 04:08] Zack-Dx opened #43 "Hamburger menu for mobiles devices."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-06 04:20] VidishaAG commented on #43
Can I be assigned please?

[2022-10-06 04:30] Zack-Dx commented on #43
@VidishaAG Sure. Welcome! check discord.com for reference.

[2022-10-06 04:42] #35 closed

[2022-10-06 04:43] #1 closed

[2022-10-06 04:52] Priyanshup891 opened #45 "Fix The position of buttons"
#Proposed Changes:

#Why is this feature important:

#Additional Context:

[2022-10-06 04:58] Zack-Dx commented on #45
@Priyanshup891 which?

[2022-10-06 05:01] Priyanshup891 commented on #45
In the hero section

[2022-10-06 05:01] Zack-Dx commented on #45
ss.

[2022-10-06 05:02] Priyanshup891 commented on #45
![Screenshot from 2022-10-06 10-31-55](https://user-images.githubusercontent.com/80090818/194218429-4f00c886-b5d7-4ae5-a5e0-0baf2b7dfd14.png)

[2022-10-06 05:04] Zack-Dx commented on #45
@Priyanshup891 u wanna fix?

[2022-10-06 05:05] Priyanshup891 commented on #45
yes

[2022-10-06 05:05] Zack-Dx commented on #45
done.

[2022-10-06 06:08] Purva2803 commented on #42
please assign me this issue I will add new pages.

[2022-10-06 06:12] Zack-Dx commented on #42
@Purva2803 Sure. Go ahead!

[2022-10-06 06:39] AnushkaMittal21 opened #51 "Addition of link and hovering effect."
#Proposed Changes: Want to add the link to download the discord app on both the button on the page "Download for windows"?
Also need to add a hovering effect on the button "Download for windows" (below one).

#Why is this feature important: It will make the clone more like the actual website.

#Additional Context:

[2022-10-06 06:39] AnushkaMittal21 commented on #51
Please assign this to me.

[2022-10-06 06:47] tech0x10 opened #52 "typography fix"
1. font weight is bold compare to the official website
2. should add line height to make text more readable

[2022-10-06 07:02] Zack-Dx commented on #52
@tech0x10 u wanna fix?

[2022-10-06 07:02] Zack-Dx commented on #51
@AnushkaMittal21 Go ahead.

[2022-10-06 07:03] #45 closed

[2022-10-06 07:16] Shivangbhatnagar237 commented on #38
@Zack-Dx I've created a PR

[2022-10-06 07:20] tech0x10 commented on #52
why not!

[2022-10-06 07:25] grraghav120 opened #56 "Button not working"
**Describe the bug**
open button is not working after click

**Expected behavior**
open the discord link

**Screenshots**
This button
![image](https://user-images.githubusercontent.com/96789493/194243499-20222d08-e2d2-417d-9281-8adca2b610c5.png)

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smartphone (please co

[2022-10-06 07:25] grraghav120 commented on #56
I want to work on

[2022-10-06 07:28] tech0x10 commented on #56
it isn't a bug, the maintainer hasn't put any link in the anchor tag

[2022-10-06 07:39] Zack-Dx commented on #56
@tech0x10 right!

@grraghav120 yes sure.

[2022-10-06 07:41] Zack-Dx commented on #52
@tech0x10 done.

[2022-10-06 07:46] priyanshu6781 commented on #52
Hey, I would like to contribute towards this. Could you please assign me this task?

[2022-10-06 08:59] khatri7 opened #59 "Scroll to top button should appear only when the user has scrolled a little"
The scroll to the top button should appear only when the user has scrolled a little. It should be hidden when the user is on top of the page

Expected behavior
The button should not show when you land on the page as you would be on top of the page. After you scroll a bit, it should appear. Once you click on it and are scrolled to the top of the page, the button should disappear.

[2022-10-06 08:59] khatri7 commented on #59
I would like to work on this, please assign this to me

[2022-10-06 09:27] lordashuchauhan opened #60 "Light/Dark mode toggle"
Light and Dark mode toggle button.
@Zack-Dx assign me this under Hacktoberfest 2022

[2022-10-06 09:32] lordashuchauhan commented on #60
@Zack-Dx  kindly review my PR #58, under hacktoberfest 2022

![Screenshot (1)](https://user-images.githubusercontent.com/100701424/194278381-32180700-6cb5-4c38-b5de-22a7630ce3db.png)
![Screenshot (2)](https://user-images.githubusercontent.com/100701424/194278396-0047e06c-d0b7-455d-9584-ac3536e65eb9.png)
![Screenshot (3)](https://user-images.githubusercontent.com/100701424/194278399-5bed1564-35d3-4

[2022-10-06 09:32] ARPITJ0SHI opened #61 "Fix alignment of footer items"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'index.html'
2. Scroll down to 'Footer'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

As you can see the nav links of footer are not properly aligned, i will fix the alignment, give proper padding and margins.

*

[2022-10-06 09:33] ARPITJ0SHI commented on #61
I would like to contribute, please assign me this issue.

[2022-10-06 09:48] shreyashkr17 opened #62 "Create and add DOWNLOAD page"
![image](https://user-images.githubusercontent.com/97216718/194282128-365e3ed8-0cc4-447e-a2e5-1e226b64634e.png)
![image](https://user-images.githubusercontent.com/97216718/194282336-2f04450c-3d00-425e-9ca6-cdc99ea03695.png)
and ...

[2022-10-06 09:49] Zack-Dx commented on #59
@khatri7 This is a good one. Go ahead!

[2022-10-06 10:03] Zack-Dx commented on #62
@shreyashkr17 U wanna add?

[2022-10-06 10:03] shreyashkr17 commented on #62
yes sir

[2022-10-06 10:03] priyanshu6781 commented on #52
Hey, it's done

[2022-10-06 10:04] Zack-Dx commented on #60
@lordashuchauhan try to make the fonts white after dark mode is toggled and make sure to maintain responsiveness. Thanks!

[2022-10-06 10:08] Zack-Dx commented on #61
@ARPITJ0SHI Hi Arpit! go ahead!

[2022-10-06 10:27] #60 closed

[2022-10-06 10:28] Zack-Dx commented on #52
@priyanshu6781 assigned.

[2022-10-06 10:28] #3 closed

[2022-10-06 10:28] #33 closed

[2022-10-06 10:37] lordashuchauhan opened #65 "LIGHT / DARK mode toggle button"
@Zack-Dx kindly assign me this issue under Hacktoberfest 2022.
Add any other context or screenshots about the feature request here.

[2022-10-06 10:37] lordashuchauhan commented on #65
@Zack-Dx kindly review my PR #64 under hacktoberfest 2022

[2022-10-06 10:41] Zack-Dx commented on #65
@lordashuchauhan we already have this though u can try to enhance it.

[2022-10-06 10:41] #65 closed

[2022-10-06 10:54] Olumarshal opened #66 "Contributing to the README.md"
**Is your feature request related to a problem? Please describe.**
The solution i plan on working on can help beginners contribute to this project

**Describe the solution you'd like**
Would love to add a contribution guide on installing and running the repo

[2022-10-06 10:55] Olumarshal commented on #66
Can you please assign me this issue

[2022-10-06 11:03] Zack-Dx commented on #66
@Olumarshal Done. Make sure to update your branch.

[2022-10-06 11:35] achiverram28 commented on #43
Can I also work on it

[2022-10-06 11:36] Zack-Dx commented on #43
@achiverram28 sure.

[2022-10-06 12:18] Bbhuva commented on #59
I have already submitted a Pull request for the same, please check and let me know if you need any improvement.

[2022-10-06 13:00] qudus2019 commented on #43
Kindly assign this to me

[2022-10-06 13:12] Zack-Dx commented on #43
@qudus2019 done.

[2022-10-06 13:27] prachisharma02 opened #73 "Create and add support page"
![Screenshot (163)](https://user-images.githubusercontent.com/111728451/194325293-339b5972-64c7-4a47-bdfd-9c89191d07a0.png)
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe altern

[2022-10-06 13:46] Rahul-Palamarthi opened #75 "Handburger menu and responsive Footer"
I want to make Header as Handburger menu and also want to make footer responsive

[2022-10-06 13:49] Zack-Dx commented on #75
@Rahul-Palamarthi Sure go ahead.

[2022-10-06 14:54] vaibhav0726 opened #78 "Social links not working"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Footer
2.  below the Imagine a place and country
3. See error

**Expected behavior**
Social links should be working

**Screenshots**
![image](https://user-images.githubusercontent.com/89084390/194346114-d8ddc7c3-d9a1-4286-abb4-efa18efbb617.png)

**Desktop (please com

[2022-10-06 15:02] TaufeeqRiyaz opened #79 "Different button sizes when resizing the window"
![image](https://user-images.githubusercontent.com/74425589/194348200-a3ca2db8-36a8-4dd5-9309-6d26c81d8a26.png)

[2022-10-06 15:11] Zack-Dx commented on #79
@TaufeeqRiyaz wanna fix?

[2022-10-06 15:40] TIGGERKUB opened #82 "Improve UI in "Where hanging out is easy" section"
**Describe the bug**

In the "Where hanging out is easy" section, there is a png image that has a low resolution as you can see in the screenshot. So, I suggest using an SVG image instead. In addition, the background color of this section should be light gray (#f6f6f6) according to the real discord landing page.

**Screenshots**
If applicable, add screenshots to help explain your problem.
<img wid

[2022-10-06 15:48] TaufeeqRiyaz commented on #82
@Zack-Dx I've fixed this in PR #81

[2022-10-06 15:49] TaufeeqRiyaz commented on #79
I'll try but if someone else is interested, you can assign them too :)

[2022-10-06 15:53] TIGGERKUB commented on #82
Oh! I'm sorry, I didn't know that because the link provided on the repo page is still using a png image. By the way, the link you provided still uses white background which should be a light gray according to the real one. I can do that if you'd like.

[2022-10-06 16:09] TaufeeqRiyaz commented on #82
Why are you sorry? I fixed it after you pointed it out :)

[2022-10-06 16:14] HarshJa1n commented on #43
Kindly assign this to me too

[2022-10-06 16:21] SandeshGC opened #84 "Use of pictures with transparent background in sections of landing page"
#Proposed Changes:

Using images with transparent background so that the site's appearance is uniform in both light and dark mode.

#Why is this feature important:
This feature is important to improve the user experience while using the site. White backgrounds in the image will make it uncomfortable for visitors while everything in the background is dark.

#Additional Context:
Currently, these two

[2022-10-06 16:22] Zack-Dx commented on #43
@HarshJa1n Done.

[2022-10-06 17:35] Zack-Dx commented on #82
You want to contribute?

[2022-10-06 17:47] TIGGERKUB commented on #82
Yep!

[2022-10-06 17:47] SandeshGC commented on #84
This issue has been fixed by PR #91

[2022-10-06 17:47] #84 closed

[2022-10-06 18:04] tech0x10 commented on #52
iam also adding some javascript so the scroll button will only appear when the users will scroll down the page.

[2022-10-06 19:03] kaavyabaranwal opened #94 "css changes"
text to be made more similar to main website, in terms of font weight, font , and words after which there is a line change

[2022-10-06 19:10] khatri7 commented on #79
you can assign it to me
i can do this

[2022-10-06 19:18] acenasir commented on #94
@Zack-Dx Can I take this? Provide more info of changes needed

[2022-10-06 19:20] vaibhav-1508 opened #96 "Vercel deployment link is broen"
**Describe the bug**
The vercel deployment link is broken

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the vercel dashboard and open the project
2. Click on settings icon
![image](https://user-images.githubusercontent.com/96713176/194400216-e5047cc3-7051-43d4-bcd7-a38296c35085.png)

3. Scroll down to Advanced
![image](https://user-images.githubusercontent.com/96713176/194400279-6aea

[2022-10-06 19:32] acenasir commented on #94
Thanks @kaavyabaranwal Will do!

[2022-10-06 19:35] acenasir opened #97 "We are hanging out Section on home page is missing correct bg color"
We are hanging out Section on home page is missing correct bg color - Should be:  background-color: var(--off-white);

[2022-10-06 19:43] acenasir opened #99 "RELIABLE TECH FOR STAYING CLOSE section is missing correct color bg"
RELIABLE TECH FOR STAYING CLOSE section is missing correct color bg

[2022-10-06 19:54] motasimmakki commented on #97
I would like to work on it.

[2022-10-06 20:07] motasimmakki commented on #97
Kindly review PR #100

[2022-10-06 23:38] Oceaneyes123 commented on #99
Hello, want to work on this. Please assign. Thanks

[2022-10-06 23:48] Oceaneyes123 opened #103 "Layout Issue on mobile"
Current:
![image](https://user-images.githubusercontent.com/42128868/194438053-434451ff-c36d-40cb-8ee3-d3b24441b742.png)

Expected: (This is from actual discord)
![image](https://user-images.githubusercontent.com/42128868/194438103-58ef8171-16f8-4dfe-aa9c-95b1a1b5cc9b.png)

Please assign. I will work on this. Thanks!

[2022-10-07 00:51] heraldjose10 commented on #99
I can fix this issue. Please assign this to me.

[2022-10-07 00:54] heraldjose10 opened #104 "Change document header"
#Proposed Changes:

change the header from Discord clone to Discord | Your Place to Talk and Hang Out

#Why is this feature important:

This is how it is on the original webpage

#Additional Context:

[2022-10-07 00:55] heraldjose10 commented on #104
I will fix this issue. Please assign to me. Thanks

[2022-10-07 00:58] heraldjose10 opened #105 "Change footer button style"
#Proposed Changes:

Change the footer button to download button and logo.

#Why is this feature important:

The padding and margin of these two elements are off in smaller viewports.

#Additional Context:

Original footer
<img width="409" alt="original_footer" src="https://user-images.githubusercontent.com/60010655/194444206-a4c50444-ac89-4d0c-ae9a-2d353ecdf271.png">

Footer on the local project
<

[2022-10-07 02:26] #96 closed

[2022-10-07 02:31] Burekslayer commented on #105
I can start working on this in a couple of hours (It's 4:30 AM atm). Can you assign it to me?

[2022-10-07 02:38] #43 closed

[2022-10-07 02:39] Zack-Dx commented on #105
@Burekslayer @heraldjose10 done.

[2022-10-07 02:41] Zack-Dx commented on #104
@heraldjose10 Sure.

[2022-10-07 03:04] Zack-Dx commented on #103
@Oceaneyes123 Sure mate.

[2022-10-07 03:19] KCasie opened #106 "Dark theme toggle needs to be responsive"
It currently overlaps with the `open discord` button when shrinking the screen. I would like to be assigned to this please!

[2022-10-07 03:23] Zack-Dx commented on #106
@KCasie Hi Kcasie go ahead!

[2022-10-07 03:47] yskooo opened #107 "feature: enhance hamburger menu"
#Proposed Changes:

#Why is this feature important:

#Additional Context:

[2022-10-07 03:48] Zack-Dx commented on #107
@yskooo done.

[2022-10-07 04:17] Oceaneyes123 commented on #103
@Zack-Dx, I already created pull request #110 as a fixed for this issue. Thanks

[2022-10-07 04:49] Zack-Dx opened #114 "Enhance the hamburger menu logo & JS for download button."
#Proposed Changes:

#Why is this feature important:

#Additional Context:

[2022-10-07 05:02] Oceaneyes123 commented on #103
@Zack-Dx , branch updated with hamburger menu, and created a new pull request #115. Thanks!

[2022-10-07 05:55] saurabhcodes25 commented on #66
@Zack-Dx please assign me this.

[2022-10-07 06:08] Vaishnavi2445 commented on #114
I want to solve this problem.

[2022-10-07 06:14] Zack-Dx commented on #114
@Vaishnavi2445 assigned.

[2022-10-07 06:14] #106 closed

[2022-10-07 06:38] Umesh2202 opened #118 "Top section images overflowing out of the screen"
A clear and concise description of what the bug is.
Images of the dino and the shoe going out of the screen in the top of the page.

**To Reproduce**
Just be on the top of the page.

The images should fit in the appointed window

![image](https://user-images.githubusercontent.com/79990168/194483106-19dccf3d-cc09-49bd-8acb-dbdfd2556b1f.png)

Fedora OS
Firefox Dev Edition

[2022-10-07 06:52] #118 closed

[2022-10-07 06:58] A-Spiral-Forge opened #121 "Adding fade animation to middle sections"
**Is your feature request related to a problem? Please describe.**
No, I would like to add the fade animation like there is on the original landing page in middle sections when scrolling.

**Describe the solution you'd like**
Adding animation when scrolling down to make it more similar

**Describe alternatives you've considered**
NA

**Additional context**
NA

[2022-10-07 07:02] A-Spiral-Forge commented on #121
@Zack-Dx Please assign this to me

[2022-10-07 07:34] Zack-Dx commented on #121
@A-Spiral-Forge done.

[2022-10-07 07:41] huyszn opened #122 "Change Discord download link / open app store depending on the operating system"
**Describe the bug**
I am on a Mac and when I clicked on the 'Download for Mac' button, I get a `DiscordSetup.exe` file download for Windows.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on 'Download for {your operating system}' button
2. See the file that you downloaded

**Expected behavior**
When I click on the download button, download the Discord setup file for Mac when I am on

[2022-10-07 08:06] Zack-Dx commented on #122
@huyszn U wanna work on this?

[2022-10-07 08:19] huyszn commented on #122
@Zack-Dx you can assign someone else to work on this

[2022-10-07 08:45] qudus2019 commented on #73
Kindly assign to me

[2022-10-07 09:19] heraldjose10 commented on #104
Fixed the header @Zack-Dx. Please take a look at PR #124.
Thanks!

[2022-10-07 09:21] qudus2019 commented on #73
Where will I get the assets for the page i.e the images

[2022-10-07 11:58] SSHSRN commented on #122
@Zack-Dx I am working on it. Kindly assign me this issue

[2022-10-07 12:02] Zack-Dx commented on #122
@SSHSRN done.

[2022-10-07 12:03] #121 closed

[2022-10-07 12:03] #105 closed

[2022-10-07 12:18] SSHSRN opened #128 "Bug - Light mode Dark mode toggle happens if clicked on open discord button"
https://user-images.githubusercontent.com/62781914/194551418-a09f9e89-656e-47ba-8d5c-31edb0d10602.mp4

You can see the bug in the above video.

It is because, the div where the function is called includes the button too.

![](https://user-images.githubusercontent.com/62781914/194550634-9fc7e073-340d-4322-a1cf-c4baec920ebc.png)

Although the change is minimal, it is a noticeable bug and I want to c

[2022-10-07 12:18] SSHSRN commented on #128
#127

[2022-10-07 12:38] SSHSRN commented on #128
@Zack-Dx Kindly check.

[2022-10-07 13:19] #104 closed

[2022-10-07 13:22] #128 closed

[2022-10-07 13:44] albetros24 commented on #42
can i work on this project

[2022-10-07 13:48] heraldjose10 commented on #99
Fixed this issue. Please checkout PR #131
Thanks

[2022-10-07 15:03] Arun9739 opened #132 "Adding actual links to make clone more responsive"
**Describe the bug*
In both header and footer there is no proper links to the sections which are there such as nitro, discover, safety etc.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'header and footer'
2. Click on 'each section'
3. Scroll down to '..'
4. See error

**Expected behavior**
After clicking each section it should go to the actual pages. But as of now nothing is happeni

[2022-10-07 15:16] Zack-Dx commented on #42
For sure. Welcome!

[2022-10-07 15:16] Zack-Dx opened #134 "Make Download Page responsive and link home page to it."
#Proposed Changes:

#Why is this feature important:

#Additional Context:

[2022-10-07 15:21] SarahADev commented on #134
I'd like to work on this, could you assign it please?

[2022-10-07 16:12] GaRev98 opened #138 "Language selector styles (Footer)"
The language selector looks different from the original one.

Actual:
![image](https://user-images.githubusercontent.com/90431652/194599449-ebc838f9-1ea3-4831-8a44-cd6a81f7e346.png)

Original:
![image](https://user-images.githubusercontent.com/90431652/194599318-cf84ccfb-3183-4d59-95c8-93500ce8a2c1.png)

[2022-10-07 16:16] GaRev98 opened #139 "Background stars"
The background of the stars is missing

Actual:
![image](https://user-images.githubusercontent.com/90431652/194600122-af9414fa-f415-4c8e-b52b-d0f6f1eb13fd.png)

Original:
![image](https://user-images.githubusercontent.com/90431652/194600251-4a803662-a2c6-4b6a-9f83-b27713d6f7f3.png)

[2022-10-07 16:18] #94 closed

[2022-10-07 16:26] GaRev98 opened #141 "Menu (Mobile)"
Responsive menu looks different from the original

When changing styles in mobile, change this section and refresh to change the user agent:
![image](https://user-images.githubusercontent.com/90431652/194601781-895668c4-4773-4140-8cfb-261cb72abaf6.png)

Actual:
![image](https://user-images.githubusercontent.com/90431652/194601106-54a50b7b-12f2-4472-8704-e72bdfa67633.png)

Original:
![image](https:

[2022-10-07 16:27] SSHSRN commented on #122
#140

[2022-10-07 16:33] Zack-Dx commented on #138
@GaRev98 u wanna fix?

[2022-10-07 16:34] Zack-Dx commented on #139
@GaRev98 wanna fix?

[2022-10-07 16:34] Zack-Dx commented on #141
@GaRev98 wanna fix?

[2022-10-07 16:35] #122 closed, assigned to SSHSRN

[2022-10-07 16:35] #82 closed

[2022-10-07 16:36] #107 closed

[2022-10-07 16:57] THE-AryanKumar opened #147 "Create and add Nitro page"
#Proposed Changes: I want to create and add Nitro Page. It will be Static Webpage.

#Why is this feature important: Their is lots of empty space. Nitro page will fill it.

#Additional Context:

[2022-10-07 17:00] Zack-Dx commented on #147
@THE-AryanKumar u want to?

[2022-10-07 17:08] THE-AryanKumar commented on #147
Yess..., pls /assign me

[2022-10-07 17:15] Purva2803 commented on #42
I am going to add a safety page.

[2022-10-07 17:27] Swastik200 opened #149 "can we add just an option which will take a form displaying the credits of maintainers and contributors"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-07 17:36] BhaveshAnandpara commented on #134
@Zack-Dx Can I also contribute ??

[2022-10-07 17:37] Zack-Dx commented on #42
@Purva2803 sure.

[2022-10-07 17:40] Zack-Dx commented on #149
@Swastik200 You wanna add it?

[2022-10-07 17:44] BhaveshAnandpara opened #150 "This Section fonts are not suitable for dark Mode"
**Describe the bug**
the "RELIABLE TECH FOR STAYING CLOSE" section font colors are not suitable for dark theme which makes UI bad

**Screenshots**
![Screenshot (315)](https://user-images.githubusercontent.com/87887912/194618244-fb122f81-0abf-4dc6-bd87-d98f8f2dcc35.png)

[2022-10-07 17:46] Zack-Dx commented on #150
@BhaveshAnandpara u wanna fix?

[2022-10-07 17:50] BhaveshAnandpara commented on #150
@Zack-Dx yeah sure ! you can assign me this task and please add hacktoberfest tag 🙌🙌

[2022-10-07 17:56] Swastik200 commented on #149
Yaa

On Fri, 7 Oct 2022, 23:10 THEALAN, ***@***.***> wrote:

[2022-10-07 18:16] Zack-Dx commented on #150
done.

[2022-10-07 18:17] Zack-Dx commented on #147
@THE-AryanKumar done mate.

[2022-10-07 18:34] stevenanthonyrevo opened #155 "Fix Missing Star Graphic"
**Describe the bug**
I noticed the SVG Star graphic is missing on the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to discord.com
2. Scroll down to the bottom of the page and see the text "Ready to start your journey?"

**Expected behavior**
The star graphics should be visible

**Screenshots**
![screenshot-stars-image-missing](https://user-images.githubusercontent.com/8505293/194

[2022-10-07 18:35] stevenanthonyrevo commented on #155
see PR #154.

Happy Hacktoberfest!

[2022-10-07 18:46] Swastik200 commented on #149
Got it, thanks!

On Fri, 7 Oct 2022, 23:47 THEALAN, ***@***.***> wrote:

[2022-10-07 19:01] Swastik200 commented on #149
Thank u sir
Tomorrow I will work on it ....
I hope there will be no issues
Network is very slow

On Sat, 8 Oct 2022, 00:16 SWASTIK MISHRA, ***@***.***>
wrote:

[2022-10-07 19:13] THE-AryanKumar commented on #147
Can you label it too "Hacktoberfest2022"

[2022-10-07 19:18] THE-AryanKumar commented on #147
#158 Review and approve....

[2022-10-07 22:36] qudus2019 commented on #73
I'm almost done with this... Will be completed tomorrow

[2022-10-08 01:20] GaRev98 commented on #141
Yes, you can assign it to me and add the hacktoberfest tag

[2022-10-08 01:24] GaRev98 commented on #138
Yes, you can assign it to me and add the hacktoberfest tag

[2022-10-08 01:27] GaRev98 commented on #139
Someone else already solved it

[2022-10-08 01:27] #139 closed

[2022-10-08 02:57] Geetisha17 opened #159 "Animation on download page"
We can add Animation on scroll on the download page. It would enhance the user experience.
I would love to work on this issue.

[2022-10-08 04:07] Zack-Dx commented on #134
sure.

[2022-10-08 04:07] Zack-Dx commented on #159
@Geetisha17 done.

[2022-10-08 04:07] #155 closed

[2022-10-08 04:08] #150 closed

[2022-10-08 04:08] Zack-Dx commented on #141
@GaRev98 done mate.

[2022-10-08 04:17] Zack-Dx commented on #138
@GaRev98 done.

[2022-10-08 04:55] SujalSamai opened #160 "Add hover effect to login button"
**Describe the bug**
A clear and concise description of what the bug is.
- The login button right now, doesn't looks like an actual button as it is not responsive at all. We can add hover effect to it and later add a login page to it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Home page'
2. Try to hover on Login button

**Expected behavior**
A clear and concise description of wha

[2022-10-08 05:09] SujalSamai opened #161 "The button to close hamburger menu in night mode is not visible."
**Describe the bug**
The button to close the hamburger menu in the night mode is not visible. So user can't understand how to close the menu.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any page.
2. Click on night mode.
3. Click on Hamburger menu in mobile layout
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.
There should be cros

[2022-10-08 05:14] Morbius00 opened #162 "UI alignment need to fix"
<img src="https://img.shields.io/badge/hacktoberfest-2022-blueviolet" alt="Hacktober Badge"/>

# Proposed Changes:
I just check out the Discord website and you clone Discord and found a lot of alignment issues.
I can fixed the required alignment issues . So please assigned me for this

# Why is this feature important:
I think if we are  cloning a website then clone it.. as it is , which make users

[2022-10-08 06:07] Zack-Dx commented on #161
@SujalSamai u wanna fix?

[2022-10-08 06:09] #161 closed

[2022-10-08 06:14] Zack-Dx commented on #162
@Morbius00 assigned.

[2022-10-08 06:14] Zack-Dx commented on #160
@SujalSamai u wanna fix?

[2022-10-08 06:16] #159 closed

[2022-10-08 06:26] hackbysarthak03 commented on #160
Hey @Zack-Dx , Can u assign me this to do this ?

[2022-10-08 06:36] SujalSamai commented on #160
Yes I would like to fix this

[2022-10-08 06:56] ayushpatil9696 commented on #75
I would like to contribute in this. could you share more info on this

[2022-10-08 07:03] Rahul-Palamarthi commented on #75
They actually developed by some one else and I was late. So someone has build it before my Pull Request

[2022-10-08 07:24] Morbius00 commented on #162
please  add the Hacktober fest lable

[2022-10-08 07:24] coder-chahal commented on #160
Hlo @Zack-Dx, can i work it too if yes then please assign issue to me:)

[2022-10-08 07:33] ayushpatil9696 commented on #75
Ok bruh (0_0)

[2022-10-08 07:34] ayushpatil9696 commented on #75
It's fine thanks for letting me know.

[2022-10-08 08:16] #160 closed

[2022-10-08 09:38] saurabhcodes25 opened #165 "Improve README file"
#Proposed Changes:
Add contributors list in readme file
#Why is this feature important:
To make the README file more interesting.

[2022-10-08 09:42] saurabhcodes25 commented on #165
@Zack-Dx kindly check #166 and merge it with hacktoberfest accepted tag.

[2022-10-08 10:24] #165 closed

[2022-10-08 10:44] Zack-Dx commented on #147
@THE-AryanKumar throw a new pr fixing that issue too.

[2022-10-08 10:44] #147 closed

[2022-10-08 11:54] #75 closed

[2022-10-08 12:04] M-Rahul1 opened #169 "Add Nitro page"
**Describe the bug**
Would like to add Nitro page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'home'
2. Click on 'Nitro'
3. See error
![Screenshot (14)](https://user-images.githubusercontent.com/68385075/194706536-f4e8b52d-3541-42c7-88d4-56117c6ba611.png)

**Expected behavior**
Lead to Nitro page

**Screenshots**
![Screenshot (12)](https://user-images.githubusercontent.com/6838507

[2022-10-08 12:08] M-Rahul1 commented on #169
@Zack-Dx  can you assign me and add tag Hacktoberfest

[2022-10-08 13:13] #52 closed

[2022-10-08 14:32] Zack-Dx commented on #169
@M-Rahul1 done.

[2022-10-08 15:06] heraldjose10 commented on #99
Can we close this issue? @acenasir @Zack-Dx

[2022-10-08 15:14] Satakshijain commented on #42
Can I work on this project can you assign it to me please

[2022-10-08 15:14] #99 closed

[2022-10-08 15:17] Zack-Dx commented on #42
@Satakshijain surely.

[2022-10-08 15:50] Sukhman-01 commented on #138
I'd like to work on this, could you assign it to me please?

[2022-10-08 16:20] BhaveshAnandpara commented on #134
@Zack-Dx check PR !

[2022-10-08 18:36] khatri7 commented on #79
Created a PR for this

[2022-10-08 18:39] khatri7 commented on #103
The layout issue should be fixed with my PR #174

[2022-10-08 18:47] Ayush-Khandelwal28 commented on #7
Hi, i would like to update README.md, can you please assign the issue to me.

[2022-10-08 22:06] #103 closed

[2022-10-10 00:32] GaRev98 commented on #141
Resolve in PR#180

[2022-10-10 13:11] M-Rahul1 commented on #169
need more time to do I will complete in this week @Zack-Dx

[2022-10-10 15:13] M-Rahul1 commented on #169
can i take help from my friend  Akash

[2022-10-11 06:42] tech0x10 opened #182 "adding links"
adding links to all <a> to redirect to official site of discord

[2022-10-11 06:51] tech0x10 opened #183 "adding image"
adding image on the footer of the support page

[2022-10-11 06:56] #182 closed

[2022-10-11 17:36] psood708 commented on #183
Hey, can you assign this issue to me

[2022-10-11 17:52] Preet-Sojitra commented on #141
@Zack-Dx Can you assign this to me?

[2022-10-13 03:04] #162 closed

[2022-10-14 07:10] psood708 opened #184 "Changes in the support page"
#Proposed Changes:
Alignment of the Help Center text initially on the page
The max width of the page
#Why is this feature important:
This is important as for UI/UX of the page

[2022-10-14 17:12] Utsab5 opened #185 "Some changes are required"
#Proposed Changes: Some changes are required to make it look exactly like the actual website

#Why is this feature important: To make it look like the actual website.

#Additional Context:
Actual website
![sendtemp2](https://user-images.githubusercontent.com/92643166/195903253-ab851f5d-ea78-4e12-a6d1-d236718d94a5.PNG)

clone
![sendtemp](https://user-images.githubusercontent.com/92643166/195903325-

[2022-10-15 12:50] Mahak008 opened #186 "Enhance the footer of support page"
**Describe the bug**
A clear and concise description of what the bug is.
Make the footer section more interactive and making it responsive.

**To Reproduce**
Steps to reproduce the behavior:
1. Horizontally centering the discord option.

**Expected behavior**
A clear and concise description of what you expected to happen.
After changes it will give footer a more interactive look.

**Screenshots**

[2022-10-20 15:02] pjyoti121 commented on #61
I would like to contribute please assign me this issue

[2022-10-23 08:27] shantanuSakpal commented on #134
hii, can you assign me this issue?

[2022-10-25 08:01] Aspireve commented on #138
Yoo Hi @Zack-Dx, could I **too** try doing it?

[2022-10-25 13:32] Zack-Dx commented on #138
@Aspireve sure

[2022-10-26 08:42] Aspireve commented on #138
Hi @Zack-Dx, Now it looks something like this
![image](https://user-images.githubusercontent.com/93852415/197978368-4375b0af-af62-4830-b1c5-3d07e570ffed.png)

I had a doubt regarding the flag icons,
Should I use a **website link** to load them or **download** each one of them and individually load it
cause if I use the website link it might not work with the internet off

[2022-10-26 10:31] Aspireve commented on #138
## Development Update
Hi!! @Zack-Dx, I went ahead with downloading the flags and naming them individually.
It took a long time but I guess now it works good
My first fear was that it may take a lot of extra space but after loading them it seems to be just 5.02KBs long
| Folder Properties Screenshot|
| ----------- |
| ![image](https://user-images.githubusercontent.com/93852415/198002943-d48941a9-3c

[2022-10-26 10:54] Zack-Dx commented on #138
@Aspireve Amazing work. Loved it

[2022-10-26 12:49] Aspireve commented on #138
Thanks a lot. I made the PR do review it
Thanks!!

[2022-10-26 14:19] Aspireve commented on #141
Hey @Zack-Dx Could I work on this issue?